/*-- scss:defaults --*/

$body-bg: #f9cb4c;
$body-color: #555F69;
$link-color: #42affa;
$presentation-font-size-root: 26px;
// $presentation-h4-font-size:	.6em;
$presentation-line-height: 1.5;

// /*-- scss:rules --*/
// .reveal p {
//   font-weight: 200;
//   text-shadow: 1px 1px $body-bg;
// }